.content-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.content-image {
  height: 400px;
  width: 400px;
  z-index: -1;
}

.content {
  display: flex;
  align-items: center;
}

.content-titles {
  white-space: nowrap;
}

.content-titles h1 {
  font-size: 60px;
  text-align: center;
  padding-bottom: 20px;
}

.content-titles p {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.content-links {
  justify-content: space-evenly;
  display: flex;
}

.content-links a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}
