.footer-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-section h5 {
  color: black;
  white-space: none;
}

.footer-section a {
  color: gray;
  text-decoration: none;
  margin: 4px 0px;
  font-size: 12px;
  text-align: left;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.divider {
  display: none;
}

.copyright {
  color: lightgray;
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  .footer-container {
    flex-direction: column;
  }

  .divider {
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.55);
  }
}
