.hero-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hero-image {
  height: 400px;
  width: 400px;
  z-index: -1;
}

.hero-content {
  display: flex;
  align-items: center;
}

.hero-titles {
  white-space: nowrap;
}

.hero-titles h1 {
  font-size: 60px;
  text-align: center;
  padding-bottom: 20px;
}

.hero-titles p {
  font-size: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.hero-links {
  justify-content: space-evenly;
  display: flex;
}

.hero-links a {
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .hero-content {
    flex-direction: column;
  }
}
