nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: rgb(0, 0, 0, 0.8);
  height: 44px;
}

button {
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

button:hover {
  color: gray;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: -100%;
  opacity: 1;
  transition: all 0.5s ease;
}

.nav-menu-item {
  height: 44px;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
}

.nav-menu-item:hover {
  color: gray;
}

.nav-menu.active {
  background: rgb(0, 0, 0, 0.8);
  top: 44px;
  left: 0px;
  opacity: 1;
  height: 100vh;
  transition: all 0.5s ease;
  z-index: 1;
}

.nav-text {
  color: white;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
}

.nav-text:hover {
  color: gray;
}

.nav-icon {
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.nav-icon:hover {
  color: gray;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .nav-text {
    display: none;
  }

  #search {
    display: none;
  }

  .menu-icon {
    display: block;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
}
